@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

ul,
ol {
  padding: 0; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

ul {
  list-style: none; }

img {
  max-width: 100%;
  display: block; }

input,
button,
textarea,
select {
  font: inherit; }

a {
  text-decoration: none;
  color: inherit; }

/* 
colors 

bg:       #DAF0FF;
bg-calc:  #F7F8FB;
default:  #858585;
dark:     #424242; 

blue-200: #ADE2FF;
blue-400: #7CC9FF;
blue-600: #38B9FF;
blue-900: #109DFF;

orange-200: #f88a69
orange-400: #F1754E
orange-600: #FB5825

*/
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #858585;
  font-size: 32px;
  line-height: 48px;
  background-color: #DAF0FF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.calc {
  padding: 15px 30px;
  position: relative;
  width: 340px;
  height: 620px;
  background-color: #f7f8fb;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 1s; }
  .calc::before {
    content: "";
    position: absolute;
    width: 357px;
    height: 500px;
    top: 44px;
    left: 120px;
    background: rgba(96, 190, 255, 0.55);
    filter: blur(61.5px);
    border-radius: 40px;
    z-index: -1; }
  .calc .calc__header {
    width: 100%;
    height: 10%; }
    .calc .calc__header .button__them {
      width: 60px;
      height: 60px;
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      .calc .calc__header .button__them #dark__img {
        width: 25px;
        height: 25px;
        cursor: pointer;
        background-size: cover;
        z-index: 999;
        transition: 0.5s; }
        .calc .calc__header .button__them #dark__img:hover {
          fill: #F1754E;
          transition: 0.5s; }
      .calc .calc__header .button__them #light__img {
        width: 25px;
        height: 25px;
        cursor: pointer;
        background-size: cover;
        z-index: 999;
        transition: 0.5s;
        fill: #fff; }
        .calc .calc__header .button__them #light__img:hover {
          fill: #38B9FF;
          transition: 0.5s; }
  .calc .calc__screen {
    width: 100%;
    height: 28%; }
    .calc .calc__screen .screen__top {
      width: 100%;
      height: 30%;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 36px;
      color: #818181;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      overflow: hidden; }
    .calc .calc__screen .screen__bottom {
      width: 100%;
      height: 70%;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 72px;
      color: #424242;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end; }
      .calc .calc__screen .screen__bottom .calc__result {
        height: 100px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: 1s; }
  .calc .calc__buttons {
    width: 100%;
    height: 62%;
    display: flex;
    column-gap: 20px; }
    .calc .calc__buttons .btn {
      width: 55px;
      height: 55px;
      background-color: linear-gradient(129.7deg, rgba(255, 255, 255, 0.6) -9.69%, rgba(255, 255, 255, 0.4) 114.23%);
      border: 1px solid #FFFFFF;
      backdrop-filter: blur(6px);
      border-radius: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 24px;
      transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out; }
      .calc .calc__buttons .btn:hover {
        color: white;
        background-color: #38B9FF;
        border-color: #38B9FF; }
    .calc .calc__buttons .btn--blue-color {
      color: #38B9FF;
      fill: #38B9FF;
      background-color: #ADE2FF; }
      .calc .calc__buttons .btn--blue-color:hover {
        fill: white;
        color: whitebtn--blue-color;
        background-color: #38B9FF;
        border-color: #38B9FF; }
    .calc .calc__buttons .btn--default-color {
      color: #858585;
      fill: #858585;
      transition: fill .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out; }
      .calc .calc__buttons .btn--default-color:hover {
        color: white;
        fill: white;
        background-color: #858585;
        border-color: #858585; }
    .calc .calc__buttons .btn--number {
      color: #38B9FF; }
    .calc .calc__buttons .buttons__left {
      display: flex;
      flex-wrap: wrap;
      column-count: 3;
      gap: 20px;
      max-width: 226px;
      width: 100%; }
      .calc .calc__buttons .buttons__left .buttons__inner {
        width: 100%;
        display: flex;
        column-gap: 20px;
        color: #38B9FF; }
        .calc .calc__buttons .buttons__left .buttons__inner .zero {
          max-width: 130px;
          width: 100%; }
      .calc .calc__buttons .buttons__left .erase svg {
        transform: translateX(-3px); }
    .calc .calc__buttons .buttons__right {
      display: flex;
      flex-direction: column;
      row-gap: 19px; }
      .calc .calc__buttons .buttons__right .equal {
        color: #B2DAFF;
        background-color: #1991FF;
        height: 155px; }
        .calc .calc__buttons .buttons__right .equal:hover {
          background-color: #38B9FF;
          color: #fff; }

.calc__dark {
  background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
  transition: 1s; }

.btn__dark {
  width: 55px;
  height: 55px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
  color: #F1754E;
  background-color: #303136; }
  .btn__dark:hover {
    background-color: #F1754E;
    color: #ffffff; }

.btn--number__dark {
  color: #F1754E; }

.btn--blue-color__dark {
  color: #FFA98E;
  fill: #FFA98E;
  background-color: #F1754E; }
  .btn--blue-color__dark:hover {
    fill: white;
    color: whitebtn--blue-color;
    background-color: #d65f3b; }

.equal__dark {
  color: #FFA98E;
  background-color: #d65f3b;
  height: 155px; }
  .equal__dark:hover {
    background-color: #de4b1f;
    color: #FFA98E; }

@media screen and (max-width: 650px) {
  .calc {
    padding: 15px 30px;
    position: relative;
    width: 340px;
    height: 620px;
    background-color: #f7f8fb;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: 1s; }
    .calc::before {
      content: "";
      position: absolute;
      width: 200px;
      height: 350px;
      top: 20px;
      left: 40px;
      background: rgba(96, 190, 255, 0.55);
      filter: blur(61.5px);
      border-radius: 40px;
      z-index: -1; } }

/*# sourceMappingURL=style.css.map */
